<!DOCTYPE html>
<html lang="en">
 
<%- include('../includes/head') , {title: 'oh oh | NoteIT'} %>

<body>
    <div class="error1">
        <h1>Could not send the messege:( try another way?</h1>
        <p> <a href="/api/AboutMe" > back to About Me</a> </p>
      </div>
</body>
</html>