
<!DOCTYPE html>
<html lang="en">
 
<%- include('./includes/head') , {title: 'Home | NoteIT'} %>

<body>

    <div class="panel">
      <h1>Welcome to Note<i>it</i></h1>
      <p>Keep your daily tasks, and tick them done!</p>
    </div>

    <div class="panel1" >
        <h2>
            <a href="api/LogIn">LogIn /</a> <a href="api/SignUp">SignUp</a>
        </h2>
    </div>

    <div class="panel3" >
        <h2>
            <a href="api/AboutMe"> About Me </a> 
        </h2>
    </div>
    
</body>