<!DOCTYPE html>
<html lang="en">
 
<%- include('../includes/head') , {title: 'Welcome back | NoteIT'}  %>

<body>
    <div class="container">
        <div class="form-box">
            <h4> Welcome back!</h4>
            <form action="/api/LogIn" method="post">
                <div class="input-group">
                    <div class="input-field">
                        <input name="email" type="email" placeholder="Email" required>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-field">
                        <input name="password" type="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="btn-field">
                    <button type="submit" value="Submit">Log In</button>
                </div>
            </form> 
        </div>
    </div>
</body>
