<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head', {title: 'About Me | NoteIT'}) %>
    
    <div class="AboutMePanel" >
        <h3>Hey There! I'm Jasmine!</h3>
        <p>I made this website as a project for web developements <br>(Hello <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><b>Sam</b></a>  \ ( ͡❛ ͜ʖ ͡❛)/) </p><!-- hehe sorry:) -->
        <p>If you have any questions Just <a href="https://codeuniversity.slack.com/team/U043YU8RLLV>"> <b>slack</b> </a> me. </p>
        <p>or click <b><a href="ContactForm">here</a></b> for the contact form so I can show off I can do that. </p>
    </div>  