<!DOCTYPE html>
<html lang="en">
 
<%- include('../includes/head') , {title: 'Yippeee | NoteIT'} %>

<body>
    <div class="success">
        <h1>Thanks for the message!:) </h1>
        <p> <a href="/" > Back to Home</a> </p>
      </div>
</body>
</html>